@use './global' as c;

.blogscontainer {
    background-color:rgb(27, 27, 27);
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color:white;
    padding: 70px;
    h2 {
        margin:0px;
        padding:0px;
        text-decoration: underline;
        margin-bottom:50px;
        text-decoration-color: rgb(65, 46, 46);
        text-underline-offset: 20px;
        text-decoration-thickness: 3px;
        font-weight: 900;
        font-family: c.$boldFont;
    }
}


.blogs {
    // margin-top: 100px;
    
    background-color:rgb(27, 27, 27);

    width:100%;
    height:auto;
    box-sizing: border-box;
   
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    div {
        margin: 20px;
        padding: 20px;
        height:auto;
        min-height: 380px;
        border: 2px solid rgb(61, 61, 61);
        color:white;
        border-radius: 8px;
        &:hover {
            border-color: yellow;
            box-shadow: 5px 5px 10px rgb(78, 33, 33);
            transition: all 0.5s linear 0s;
        }
        h3 {
            font-family: c.$fira;
            text-transform: capitalize;
        }
        p {
            font-family: c.$fira;
            color:rgb(198, 201, 243);
            
        }
      button {
        background-color: transparent;
        border: 0px;
        color:white;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: rgb(50, 250, 0);
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
        span {
            position: relative;
            top:3px;
        }
        &:hover {
           
            transition: all 0.3s linear 0s;
            cursor: pointer;
        }
      }
      span {
        position: relative;
        top:40px;
        font-size: 20px;
        color:rgb(87, 87, 87);
        font-weight: 100;
        font-family: c.$boldFont;
      }
    }
}







@media (max-width:1000px) {
.blogs {
    grid-template-columns: 50% 50%;
}

}

@media (max-width:700px) {


    .blogscontainer {
        padding:10px;
    }
    .blogs {
        grid-template-columns: 100%;
    }
    
    }




.blogpost {
    background-color: rgb(27, 27, 27);
    color:white;
    width:100%;
    height:auto;
    min-height: 100vh;
    .blog {
        padding: 100px;
        width:90%;
        .header {
        h1 {
            font-family: c.$boldFont;
            font-weight: 100;
        }
        p {
            color:white;
            text-decoration: underline;
            text-decoration-color: yellow;
            text-decoration-thickness: 2px;
            color:rgb(87, 87, 87);
            font-size: 25px;
            font-family: c.$boldFont;
            font-weight: 100;
        }
    }
    .content {
        color:white;
    }
    }
}



@media(max-width:700px) {
    .blogpost {
        background-color: rgb(27, 27, 27);
        color:white;
        width:100%;
        height:auto;
        min-height: 100vh;
        .blog {
            padding: 10px;
            width:95%;
            .header {
            h1 {
                font-family: c.$boldFont;
                font-weight: 100;
            }
            p {
                color:white;
                text-decoration: underline;
                text-decoration-color: yellow;
                text-decoration-thickness: 2px;
                color:rgb(87, 87, 87);
                font-size: 16px;
                font-family: c.$boldFont;
                font-weight: 100;
            }
        }
        .content {
            color:white;
        }
        }
    }
}