
@use '../../sass/global' as c;




    .list {
        margin-top: 50px;
       
        ul {
            margin:0px;
            padding:0px;
          
    
            li {
                margin:0px;
            padding:0px;
            font-family: c.$boldFont;
            list-style: none;
            color:white;
            text-align: center;
            margin:30px;
            }
        }
    }




// .toggler {
  
//     position: absolute;
//     right:20px;
//     top:30px;
 
// }

.mview {
    
    display: grid;
    grid-template-columns: 80% 20%;
    width:100%;
    height:100px;
    padding: 20px;

    .logo {
        img {

        width:140px;
        height:90px;
        object-fit: cover;
        }
        a {
            font-family: c.$logoFont;
            font-size: 35px;
        }
    }

}

