@use '../../sass/global' as c;



.nav {
    width:100%;
    min-height:80px;
   
    z-index: 9;
    background-color: transparent;
 
    position: fixed;
    top:0;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 30px;
    padding-top: 50px;
    box-sizing: border-box;
    .logo {
        width:100%;
        height:auto;
        font-family: c.$logoFont;
        font-size: 2rem;
        margin-left: 10%;
       
    }
    .lists {
        width:100%;
        height:auto;
     

        ul {
            margin:0px;
            padding:0px;
            
            li {
                list-style: none;
                display: inline-block;
                margin-left:50px;
                margin-top: 10px;
                font-family: c.$boldFont;
                font-size: 1.2rem;
            }
        }
    }
}




@media (max-width:900px) {
    .nav {
        padding-top: 20px;

        
    }
}

















.logo {
    width:200px;
    height:100px;
}




.nav2 {
    position: relative;
    top:0;
    background-color: #404040;
}